body{
	    margin: 0;
	    padding: 0;
      text-align: center;
     }

.logo {
	     position: absolute;
	     left: 15px;
	     top:9px;
      }

 h1 {
 	   position: fixed;
 	   text-align: center;
 	   margin:0;
 	   top: 0px;
 	   font-family: "Brush Script MT";
 	   font-size: 38pt;
 	   color: #9C7F07 ;
 	   border: none;
 	   position: static;
    }

.menu {
       text-align: center;
       background: #93644A;
       padding-top: 1px;
       margin-top: 10px;
	   }

.menu ul{
         margin:0;
         padding: 10.5px;
         }

.menu li{
         display: inline;
        }

.menu a{
         margin: 8px;
         padding: 11.5px;
         text-decoration: none;
         font-size: 14pt;
         color:#EFE3B0;
         font-family: "Times New Roman"; 
        }
.menu .activo a,
.menu li:hover a{
                  background: #EFE3B0;
                  color: #93644A;
                  }


.sub2 h2 {
          text-align: center;
          font-size: 28pt;
          font-family: "Baskerville Old Face";
        }
.sub2 img{
           position: relative;
           top:10px;
           left:20px;
         }
.sub2 .texto{
          position: absolute;
          font-size: 24pt;
          color: #1B1A1A;
          top: 300px;
          left: 300px; 
          background:#CFCFCF; 
          border:3px solid black; 
          border-radius: 15px;    
           }
.sub2 .texto p{
               border:5px solid black;
               border-left: none;
               border-right: none;
               }  
.sub2 .texto a{
               border:2px groove #E0DCDD;
               text-decoration: none;
               background: #B8B6B6;
               border-radius: 2px;
              }  
.sub2 .texto .tit p{
                    border:none;
                    font-family: "Baskerville Old Face";
                   }




